<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [3]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in c:\users\azull\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.19-cp38-cp38-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 6.7 MB/s eta 0:00:00
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\azull\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: ipython-genutils in c:\users\azull\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\azull\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\azull\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (67.8.0)
Requirement already satisfied: jedi>=0.16 in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in c:\users\azull\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\azull\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\azull\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.19 sqlparse-0.4.4

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")

In [6]:
!pip install -q pandas==1.1.5

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\azull\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  Write row names (index).

In [9]:
print(df.columns)
df.head()

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

ModuleNotFoundError: No module named 'pandas.io.formats.string'

ImportError: cannot import name 'TableFormatter' from 'pandas.io.formats.format' (C:\Users\azull\anaconda3\lib\site-packages\pandas\io\formats\format.py)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [29]:
stmt = '''SELECT DISTINCT("Launch_Site") FROM SPACEXTBL'''

In [30]:
for i, tup in enumerate(cur.description):
    print(f"{tup[0]}")

Landing_Outcome
cnt

In [31]:
cur = con.cursor()
cur.execute(stmt)
output = cur.fetchall()
for row in output:
    print(row[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
stmt = '''SELECT * FROM SPACEXTBL 
        WHERE "Launch_Site" like 'CCA%'
        LIMIT 5
        '''
cur.execute(stmt)
output = cur.fetchall()
for row in output:
    print(row)
print([x[0] for x in cur.description])

('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [28]:
stmt = '''SELECT SUM(PAYLOAD_MASS__KG_) as total_payload_KG FROM SPACEXTBL 
        WHERE "Customer" =  'NASA (CRS)'
        '''
cur.execute(stmt)
output = cur.fetchall()
for row in output:
    print(row)
print([x[0] for x in cur.description])

ProgrammingError: Cannot operate on a closed cursor.

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
stmt = '''SELECT AVG(PAYLOAD_MASS__KG_) as avg_payload_KG FROM SPACEXTBL 
        WHERE "Booster_Version" like 'F9 v1.1%'
        '''
cur.execute(stmt)
output = cur.fetchall()
for row in output:
    print(row)
print([x[0] for x in cur.description])

(2534.6666666666665,)
['avg_payload_KG']

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
stmt = '''SELECT distinct(Mission_Outcome) FROM SPACEXTBL 
        '''
cur.execute(stmt)
output = cur.fetchall()
for row in output:
    print(row)
print([x[0] for x in cur.description])

('Success',)
('Failure (in flight)',)
('Success (payload status unclear)',)
('Success ',)
['Mission_Outcome']

In [18]:
def print_rows(stmt):
    cur.execute(stmt)
    output = cur.fetchall()
    print([x[0] for x in cur.description])
    for row in output:
        print(row)

In [19]:
stmt = '''SELECT MIN(Date) FROM SPACEXTBL 
        WHERE "Landing_Outcome" = 'Success (ground pad)'
        '''
print_rows(stmt)

['MIN(Date)']
('2015-12-22',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
stmt = '''SELECT Booster_Version FROM SPACEXTBL 
        WHERE "Landing_Outcome" = 'Success (drone ship)'
          AND "PAYLOAD_MASS__KG_" between 4000 and 6000
        '''
print_rows(stmt)

['Booster_Version']
('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
stmt = '''SELECT substr(Mission_Outcome,1,7) as outcome, count(*) FROM SPACEXTBL 
        group by outcome
        '''
print_rows(stmt)

['outcome', 'count(*)']
('Failure', 1)
('Success', 100)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [22]:
stmt = '''SELECT Booster_Version FROM SPACEXTBL 
        WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_")
                                      FROM SPACEXTBL)
        ORDER BY Booster_Version
        '''
print_rows(stmt)

['Booster_Version']
('F9 B5 B1048.4',)
('F9 B5 B1048.5',)
('F9 B5 B1049.4',)
('F9 B5 B1049.5',)
('F9 B5 B1049.7 ',)
('F9 B5 B1051.3',)
('F9 B5 B1051.4',)
('F9 B5 B1051.6',)
('F9 B5 B1056.4',)
('F9 B5 B1058.3 ',)
('F9 B5 B1060.2 ',)
('F9 B5 B1060.3',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [32]:
stmt = '''SELECT substr(Date,6,2) as month
                , Landing_Outcome, Booster_Version
                FROM SPACEXTBL 
        WHERE substr(Date,1,4) = '2015' 
          AND Landing_Outcome = 'Failure (drone ship)'
        ORDER BY month
        '''
print_rows(stmt)

['month', 'Landing_Outcome', 'Booster_Version']
('04', 'Failure (drone ship)', 'F9 v1.1 B1015')
('10', 'Failure (drone ship)', 'F9 v1.1 B1012')

In [24]:
stmt = '''SELECT distinct(Landing_Outcome)
                FROM SPACEXTBL 
        '''
print_rows(stmt)

['Landing_Outcome']
('Failure (parachute)',)
('No attempt',)
('Uncontrolled (ocean)',)
('Controlled (ocean)',)
('Failure (drone ship)',)
('Precluded (drone ship)',)
('Success (ground pad)',)
('Success (drone ship)',)
('Success',)
('Failure',)
('No attempt ',)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [33]:
stmt = '''SELECT Landing_Outcome, count(*) as cnt FROM SPACEXTBL 
        --WHERE Date between '2010-06-04' and '2017-03-20'
        group by Landing_Outcome
        order by cnt desc 
        '''
print_rows(stmt)

['Landing_Outcome', 'cnt']
('Success', 38)
('No attempt', 21)
('Success (drone ship)', 14)
('Success (ground pad)', 9)
('Failure (drone ship)', 5)
('Controlled (ocean)', 5)
('Failure', 3)
('Uncontrolled (ocean)', 2)
('Failure (parachute)', 2)
('Precluded (drone ship)', 1)
('No attempt ', 1)

In [34]:
cur.close()

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>